<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="tech.stacka.carrymarkdashboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.product.productDetail.ProductDetailActivity"></activity>
        <activity android:name=".activity.map.MapActivity" />
        <activity android:name=".activity.order.orderFilter.OrderFilterActivity" />
        <activity android:name=".activity.order.orderDetail.OrderDetailActivity" />
        <activity android:name=".activity.order.orderList.OrderListActivity" />
        <activity android:name=".activity.master.addMaster.AddMasterActivity" />
        <activity android:name=".activity.master.masterList.MasterListActivity" />
        <activity android:name=".activity.distributer.distributerDetail.DistributerDetailActivity" />
        <activity android:name=".activity.employee.addEmployee.AddEmployeeActivity" />
        <activity android:name=".activity.distributer.addDistributer.AddDistributerActivity" />
        <activity android:name=".activity.retailer.retailerList.RetailerListActivity" />
        <activity android:name=".activity.distributer.distributerList.DistributorListActivity" />
        <activity android:name=".activity.employee.employeeDetail.EmployeeDetailActivity" />
        <activity android:name=".activity.product.filterProduct.ProductFilterActivity" />
        <activity android:name=".activity.employee.employeeList.EmployeeListActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activity.product.addProduct.AddProductActivity" />
        <activity android:name=".activity.product.productUpdate.ProductUpdateActivity" />
        <activity android:name=".activity.product.productList.ProductListActivity" />
        <activity android:name=".activity.home.HomeActivity" />
        <activity android:name=".activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher1_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="tech.stacka.carrymarkdashboard.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>